<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="cadastro.css">
</head>
<body>
   <main>
  <form class="form" action="" method="post">
        
        <label for="email">Digite seu E-mail</label>
        <input type="text" id="email" name="email" placeholder="E-mail" class="form-control">

        <label for="password">Crie uma senha</label>
        <input type="password" id="password" name="password" placeholder="Senha" class="form-control">

        <label for="password">Confirme a senha</label>
        <input type="password" id="password" name="password" placeholder="Senha" class="form-control">

        <button class="btn btn-light d-grid gap-2 col-6 mx-auto m-3"  type="submit">Cadastrar</button>
  </form>
</main>
</div>
</body>
</html>